@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+Rounded+1c&family=PT+Sans&display=swap');

body {
  background-color: rgb(252, 247, 252);
  font-family: 'Josefin', sans-serif;
}


$primary-color: rgb(176, 255, 176);
$secondary-color: rgb(201,255,231);
$third-color: rgb(23, 110, 79);

@mixin flexVertContainers {
  display: flex;
  flex-direction: column;
  padding: 20px;
  // border: solid 5px white;
}

@mixin flexHorizContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  // border: solid 2px pink;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.heading{
  color: $third-color;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.budget-list-container {
  @include flexVertContainers;
  
}

.budget-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    @include border-radius(5px);
    background-color: rgb(59, 151, 59); 
    color: white;
    margin-top: 9px;
    margin-right: 9px;
    height: 30px;
    border: solid 2px rgb(59, 151, 59)
  }
}

.line-item {
  @include flexHorizContainers;
  @include border-radius(5px);
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .delete-button {
    @include flexHorizContainers;
    justify-content: flex-end;

    button{
      @include border-radius(5px);
      background-color: lighten($primary-color, 18%);
      padding: 2px 8px 2px 8px;
    }
  }
}

.budget-card{
  @include flexVertContainers;
  @include border-radius(20px);
  margin-top: 10px;
  border: solid 2px rgb(21, 57, 18);
  background: lighten($secondary-color, 5%);
  // min-height: 500px;

    .total-remaining {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      

      .total-row {
        display: flex;
        flex-direction: row;
        p {
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    } 
    
}


.line-item-container{
  @include flexVertContainers;
  @include border-radius(5px);
  // background-color: red;
  .line-item-header {
    position: relative;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
  }
}

.add-line-item-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: end;
  min-height: 60px;
    form {
      @include flexHorizContainers;
      @include border-radius(5px);
      justify-content: flex-start;
      align-items: center;
      input {
        @include border-radius(5px);
        border: solid 1px $third-color;
        margin-right: 10px;
        padding: 5px;
      } 
      button{
        @include border-radius(5px);
        background-color: rgb(234, 245, 234); 
        color: black;
        border: solid 2px rgb(59, 151, 59);
        padding: 3px 6px 3px 6px;
      }
    }
}

.create-budget-form{
  @include flexHorizContainers;
  @include border-radius(5px);
  margin-top: 15px; 
  justify-content: flex-end; 
  form {
    @include flexHorizContainers;
    @include border-radius(5px);
    justify-content: flex-end;
    align-items: center;
    input {
      @include border-radius(5px);
      border: solid 1px $third-color;
      margin-right: 10px;
      padding: 5px;
    }
    button {
      @include border-radius(5px);
      background-color: rgb(59, 151, 59); 
      color: white;
      border: solid 2px rgb(59, 151, 59);
      padding: 3px 6px 3px 6px;
    }
  }
}

.budget-list-container{
  @include flexVertContainers;
  @include border-radius(5px);
}

h1{
  color: rgb(3, 63, 3); 
}

h4{
  color: darken(rgb(46, 121, 95), 10%); 
}

// .delete-budget-button{
//   display: flex; 
//   flex-direction: row;
//   justify-content: end; 
//   border-radius: 12px; 
//   margin-top: 9px;
//   margin-right: 9px;
// }

// .name-of-project{
//   // display: flex; 
//   // flex-direction: row;
//   width: 90%
  
// }

// .budget-amount{
//   display: flex; 
//   flex-direction: row;
// }